@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
/*! conteyner designda 940 uzunlykda we reset.css border box bolany ucun we pading 15px sag cep jemi 30 bolyar => 940+30=970  */
.container{
	
	max-width: 970px;
	padding: 0 15px;
	margin: 0 auto;
}

.p{
	color: #6A859C;
	line-height: 1.8;}

/*----------HEADER----------------------------------*/
.header {
	padding: 20px 0;
	position: fixed;/*ekrana yapysar yaly mydama yokarda bolar yaly */
	top:0;
	left:0;
	z-index: 100; /*hemise beyleki elementlerden yokarda bolar yaly */
	width: 100%;
	background-color: #fff;
}


.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
font-size: 25px;
/* 25/25=1 lineheight bar designda */
letter-spacing: 4px;
text-transform: uppercase;
color: #69B9FF;
}
.header__nav ul {
	display: flex;
}
/*ikinjiden baslap cepinde 40px goy diymek*/
.header__nav li + li{
	margin-left: 40px;
}
.header__nav a {
	font-size: 16px;
	color: #676770;
	transition: color 0.2s;
}
.header__nav a:hover {
color: #0082f3;
}
.header__nav a:active {
	color: #00101e;
}

/*----------MAIN----------------------------------*/
/*.main {
}*/
.welcome {
	min-height: 600px;
	height: 100vh;/*beyiklik ot wysoty browser- a*/
	padding: 195px 0;/* limit goyduk tekstde designden alyp*/

	display: flex;
	justify-content: center;
	align-items: center;

	color:#fff;
	/*eger surat yuklenmese onna asakdaky renk bolyar */
	background: color #282936; ;
	background-image: url("images/welcomebg.png");
	background-size: cover;
	background-position: center;

}

.welcome__heading {
	margin-bottom: 100px;
	font-size: 59px; 
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.welcome__links > * + *{
	/*lyuboy element kotoryy imeet soseda *+* */
	/*son baska knopkalaram gosanymyzda 20px bole arasynda son ucun */
margin-left: 20px;
}
.link-primary {
	/*sign up knopka*/
	font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #69B9FF;
	border-radius: 4px;
	display: inline-block;
	padding: 11px 30px;/* beyleki knopka bn den bolor yaly up down 11px edes 11+11=22*/
  transition:background-color 0.1s
}

.link-primary:hover{
	background-color:#7cc2ff;
}
.link-primary:active{
	background-color:#0f8fff;
}

.link {
	/*learn more ssylka */
	display: inline-block;
	padding: 10px 30px;

	font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
	
	border: 1px solid #ffff;/*updown=20+1borderup+1borderdown=22*/
	border-radius: 4px;

	transition: background-color 0.1s, border-color 0.1s;
}

.link:hover{
	background-color:rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.5);
}
.link:active{
	background-color:rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.5);
}